*
{
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}
html,body
{
    scroll-behavior: smooth;
}
header
{
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 999;

    #navbar_logo
    {
        max-width: 70px;
    }
    .nav-item 
    {
        font-size: 13px;
        text-align: center;
        padding: 8px 15px;
        letter-spacing: 1px;
        a
        {
            color: #fff;
            text-decoration: none;
        }
        a:hover 
        {
            color: #b3b3b3;
        }
    }
    .navbar-toggler
    {   
        background-color: transparent;
    }
    .fa-bars 
    {
        color: #fff;
        font-size: 22px;
    }
}


.landing_page 
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    video 
    {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }
    .landing_page_overlay 
    {
        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0.7;
        position: absolute;
    }
    .landing_page_content
    {
        z-index: 1;
        text-align: center;
        color: #fff;
        padding-top: 140px;

        h1 
        {
            font-size: 50px;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 5px;
        }
        p 
        {
            font-size: 15px;
            letter-spacing: 1px;
        }
        button 
        {
            background-color: #1DB954;
            font-size: 14px;
            padding: 8px 30px;
            border: none;
            outline: none;
            color: #fff;
            border-radius: 2px;
            transition: padding 0.2s;
        }
        button:hover 
        {
            background-color: #1FA84F;
            padding: 8px 50px;
        }
    }
}


#about
{
    padding-top: 115px;

    .about_img
    {
        img 
        {
            width: 100%;
            box-shadow:  0 0 10px 5px rgba(0,0,0,0.1);
            margin-bottom: 15px;
        }
    }
    .about_descriptions
    {
        h1 
        {
            font-family: 'Bebas Neue', cursive;
            font-size: 35px;
            letter-spacing: 1px;
        }
        h1::after
        {
            content: "";
            width: 200px;
            height: 4px;
            background-color: #1DB954;
            display: block;
        }
        p 
        {
            font-size: 17px;
            color: #4d4d4d;
        }
    }

    .offi_sm_link 
    {
        h2
        {
            font-size: 15px;
            font-weight: 600;
        }
        .offi_sm_link_item
        {
            list-style: none;
            font-size: 16px;
            font-weight: 600;
            display: inline-block;
            padding: 0 5px;
            font-size: 25px;
        }
        a 
        {
            color: #808080;
        }
        a:hover 
        {
            color: #4d4d4d;
        }
        .offi_sm_link_item:hover
        {
            transform: translateY(-2px);
            transition-duration: 0.3s;
        }
    }
}


#members
{
    padding-top: 110px;
    .members_content    
    {
        h1 
        {
            font-family: 'Bebas Neue', cursive;
            font-size: 35px;
            letter-spacing: 1px;
        }
        h1::after
        {
            content: "";
            width: 70px;
            height: 4px;
            background-color: #1DB954;
            display: block;
        }
        p 
        {
            font-size: 17px;
            color: #4d4d4d;
        }
        .members_item 
        {
            text-align: center;
            margin-top: 10px;
            img 
            {
                width: 100%;
                box-shadow:  0 0 10px 5px rgba(0,0,0,0.1);
            }
            h2 
            {
                font-size: 23px;
                font-weight: 600;
                padding-top: 10px;
            }
            label 
            {
                font-size: 17px;
            }
        }
    }
}

#albums
{
    padding-top: 110px;
    
    .albums_content
    {
        h1 
        {
            font-family: 'Bebas Neue', cursive;
            font-size: 35px;
            letter-spacing: 1px;
        }
        h1::after
        {
            content: "";
            width: 70px;
            height: 4px;
            background-color: #1DB954;
            display: block;
        }
        p 
        {
            font-size: 17px;
            color: #4d4d4d;
        }
        .albums_item 
        {
            position: relative;
            text-align: center;
            margin-top: 10px;
            img 
            {
                width: 100%;
                box-shadow:  0 0 10px 5px rgba(0,0,0,0.1);
            }
            .albums_overlay 
            {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #000;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: 0.4s ease;
                padding: 0px 10px 0 10px;
            }
            label 
            {
                font-size: 17px;
                color: #fff;
                padding-top: 50%;
            }
          }
          .albums_item:hover .albums_overlay 
          {
                height: 100%;
          }
        }
    }
#music_list 
{
    padding-top: 30px;
    .music_list_content
    {
        h1 
        {
            font-family: 'Bebas Neue', cursive;
            font-size: 35px;
            letter-spacing: 1px;
        }
        h1::after
        {
            content: "";
            width: 70px;
            height: 4px;
            background-color: #1DB954;
            display: block;
        }
        p 
        {
            font-size: 17px;
            color: #4d4d4d;
        }
    }
}
footer
{
    background-color: #000;
    width: 100%;
    margin-top: 100px;
    padding: 30px;
    .footer_content
    {
        text-align: center;
        color: #fff;
        h1 
        {
            font-family: 'Bebas Neue', cursive;
            font-size: 35px;
            letter-spacing: 1px;
        }
        p 
        {
            font-size: 17px;
        }
        .offi_sm_link_item
        {
            display: inline;
            padding: 0 10px;
            font-size: 30px;
        }
        a 
        {
            color: #fff;
        }
        a:hover
        {
            color: #cccccc;
        }
        img 
        {
            width: 100%;
            max-width: 200px;
            margin-top: 20px;
            box-shadow:  0 0 10px 5px #0d0d0d;
        }
        .copy 
        {
            padding-top: 50px;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
}

// #1DB954;
// #1FA84F;